body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 10px;
}

.section {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.subtitle-1 {
  background-color: #ff8a65;
}

.subtitle-3 {
  background-color: #4db6ac;
}

.subtitle-4 {
  background-color: #4d8eb1;
}


span {
  display: inline-block;
  text-align: center;
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
}

.chain {
  width: 80px;
}

.price,
.cost,
.current {
  width: 60px;
}

input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 100px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column; /* Add this line */
  margin-right: 1rem; /* Add this line */
  width: 30%; /* Add this line to set the chart's width */
}

.card-wide {
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 0;
}

.card-chart {
  width: 70%; /* Add this line to set the chart's width */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.card-1 {
  border-left-color: #ff5722;
}

.card-2 {
  border-left-color: #ff9800;
}

.card:hover {
  cursor: pointer;
}

.card:hover .tooltip-container {
  display: block;
}

.subtitle-2 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 5px 0;
  margin: 0;
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f51b5;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.refresh-button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.refresh-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; /* Adjust font size */
  top: 0;
  left: 0;
}


